body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.bg-color {
    background-color: #ffc0cb; /* กำหนดพื้นหลังเป็นสีชมพู */
    height: 100%;
    width: 100%;
    position: relative;
}
.bg-image {
    background-image: url('img/Picture1.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(70%);
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-form {
    margin-top: 20px;
}